<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <meta http-equiv='X-UA-Compatible' content='ie=edge'>
  <link rel='icon' type='image/ico' href='/favicon.ico' />
  {% include 'partials/meta-info.njk' %}
  <style>
    {{ css | safe }}
  </style>
</head>
<body class='min-h-screen bg-gray-100 antialiased flex flex-col text-gray-700'>
  {{ content | safe }}
  {% include 'partials/footer.njk' %}
  <script>
    {{ scripts | js | safe }}
  </script>
</body>
</html>