---
layout: layouts/base.njk
title: Search
scripts:
  - search
---

<main class='flex-1'>
  {% include 'partials/search-form.njk' %}
  <section class='container mx-auto px-4 grid grid-gap-2 sm:grid-gap-4 sm:grid-columns-2 lg:grid-columns-3'>
    {% for pokemon in collections.pokemonSorted %}
      <a class='app-pokemon-link inline-flex justify-between p-4 w-full bg-white relative rounded-lg overflow-hidden transition-fast shadow hover:bg-gray-200 hover:shadow-lg hover:-translate-y-1' href='{{ pokemon.url }}' data-pokemon-name="{{ pokemon.data.pokemon.name }}">
        <div class='inline-block w-1/2'>
          <span class='font-bold tracking-wide uppercase w-full mb-2 block'>{{ pokemon.data.pokemon.name | title }}</span>
          <ul class='text-xs font-bold uppercase tracking-wide text-center'>
            {% for type in pokemon.data.pokemon.types %}
              <li class='p-1 rounded text-white mb-1 last:mb-0 flex justify-center' style='background-color: {{ type | typeColor }}'>
                {% typeIcon type | safe, 'mr-2' %}
                {{ type }}
              </li>
            {% endfor %}
          </ul>
        </div>
        <img class='inline-block relative z-10' src='/assets/images/pokemon/{{ pokemon.data.pokemon.id }}.png' alt='{{ pokemon.data.pokemon.name }}' />
        {% svg 'pokeball' | safe %}
      </a>
    {% endfor %}
  </section>
</main>

