---
tags: pokemon
layout: layouts/base.njk
pagination:
  data: pokemonData
  size: 1
  alias: pokemon
  addAllPagesToCollections: true
renderData:
  title: "{{ pokemon.name }}"
permalink: pokemon/{{ pokemon.name }}/index.html
---

<main class='flex-1'>
  <section>
    <h1>{{ pokemon.name | title }}</h1>
  </section>
</main>



