---
tags: pokemon
layout: layouts/base.njk
pagination:
  data: pokemonData
  size: 1
  alias: pokemon
  addAllPagesToCollections: true
renderData:
  title: "{{ pokemon.name }}"
  description: "{{ pokemon.description }}"
permalink: pokemon/{{ pokemon.name }}/index.html
---

<main class='flex-1 pb-4'> 
  <section class='pt-4 pb-20 text-white' style='{{ pokemon.types | typeGradient }}'>
    <div class='container mx-auto px-4 pb-8'>
      <a class='text-2xl opacity-75 hover:opacity-100 transition' href='/'>←</a>
    </div>
    <div class='container mx-auto px-4'>
      <div class='flex justify-between items-center'>
        <h1 class='text-4xl'>{{ pokemon.name | title }}</h1>
        <span class='text-2xl font-bold'>#{{ pokemon.id | padNumber }}</span>
      </div>
      <ul class='text-xs font-bold uppercase tracking-wide'>
        {% for type in pokemon.types %}
          <li class='p-2 mr-2 rounded text-white relative overflow-hidden inline-block w-32 text-center shadow-md'>
            <div class='bg-white opacity-25 absolute left-0 top-0 h-full w-full'></div>
            {{ type }}
          </li>
        {% endfor %}
      </ul>
    </div>
  </section>
  <section class='container mx-auto px-4'>
    <div class='py-12 -mt-12 bg-white rounded-lg shadow-md px-8 sm:px-12'>
      <div class='mb-4'>
        <img class='mx-auto mb-4' src="{{ pokemon.image.pokedexPage }}" alt="Animated gif of {{ pokemon.name | title }}">
        <p class='font-bold'>{{ pokemon.species }}</p>
        <p>{{ pokemon.description }}</p>
      </div>
      <div class='lg:grid lg:grid-gap-12 lg:grid-columns-2 lg:mb-4'>
        <div class='mb-4 lg:mb-0 col-span-2'>
          <p class='text-2xl font-bold'>Abilities:</p>
          <hr class='mt-2 mb-4' />
          <ul>
            {% for ability in pokemon.abilities %}
              <li class='mb-4 last:mb-0'>
                <span class='mb-2 block'><strong>{{ ability.name }}</strong>: {{ ability.prose }}</span>
                {% for effect in ability.effect %}
                  <p class='mb-2 last:mb-0'>{{ effect | safe }}</p>
                {% endfor %}
              </li>
            {% endfor %}
          </ul>
        </div>
        <div class='mb-4 lg:mb-0'>
          <p class='text-2xl font-bold'>Species Data:</p>
          <hr class='mt-2 mb-4' />
          <ul>
            <li class='flex justify-between'>
              <span class='font-bold text-sm uppercase tracking-wide'>Height:</span>
              <span class=''>{{ pokemon.height }} meters</span>
            </li>
            <li class='flex justify-between'>
              <span class='font-bold text-sm uppercase tracking-wide'>Weight:</span>
              <span class=''>{{ pokemon.weight }} kilograms</span>
            </li>
            <li class='flex justify-between'>
              <span class='font-bold text-sm uppercase tracking-wide'>Steps to Hatch Eggs:</span>
              <span class=''>{{ pokemon.hatchSteps | comma }}</span>
            </li>
            <li class='flex justify-between'>
              <span class='font-bold text-sm uppercase tracking-wide'>Egg Groups:</span>
              <span class=''>{{ pokemon.eggGroups }}</span>
            </li>
            <li class='flex justify-between'>
              <span class='font-bold text-sm uppercase tracking-wide'>Gender Ratio:</span>
              <div>
              {% if pokemon.genderRatio.notAvailable %}
                <span>Not Available</span>
              {% else %}
                <span class='text-blue-600'>{{ pokemon.genderRatio.male }}% ♂</span> / <span class='text-pink-600'>{{ pokemon.genderRatio.female }}% ♀</span>
              {% endif %}
              </div>
            </li>
          </ul>
        </div>
        <div class='mb-4 lg:mb-0'>
          <p class='text-2xl font-bold'>Damage When Attacked:</p>
          <hr class='mt-2 mb-4' />
          <div class='grid grid-columns-2 grid-gap-4'>
            <ul class='text-xs font-bold tracking-wide'>
              {% for weakness in pokemon.typeDefense.weaknesses %}
                <li class='mb-1 last:mb-0'>
                  <span class='w-2/3 text-white p-1 inline-block rounded uppercase text-center text-stroke' style='background-color: {{ weakness.type | typeColor }}'>
                    {{ weakness.type }}
                  </span>
                  <p class='inline-block ml-2' style='color: {{ weakness.multiplier | multiplierColor }}'>{{ weakness.multiplier }}x</p>
                </li>
              {% endfor %}
            </ul>
            <ul class='text-xs font-bold tracking-wide'>
              {% for resistance in pokemon.typeDefense.resistances %}
                <li class='mb-1 last:mb-0'>
                  <span class='w-2/3 text-white p-1 inline-block rounded uppercase text-center text-stroke' style='background-color: {{ resistance.type | typeColor }}'>
                    {{ resistance.type }}
                  </span>
                  <p class='inline-block ml-2' style='color: {{ resistance.multiplier | multiplierColor }}'>{{ resistance.multiplier }}x</p>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      <div>
        <p class='text-2xl font-bold'>Stats:</p>
        <hr class='mt-2 mb-4' />
        <div class='w-full'>
          {%- for stat in pokemon.stats -%}
            <div class='flex mb-1 items-center'>
              <span class='w-1/3 text-sm font-black'>{{ stat.name }}</span>
              <div class='h-8 flex-1 rounded text-white relative overflow-hidden bg-gray-200'>
                <div class='absolute left-0 bottom-0 h-full' style='width: {{ stat.percent }}%; background-color: {{ pokemon.types[0] | typeColor }};'></div>
                <span class='ml-2 text-white z-10 absolute h-full flex items-center'>{{ stat.base_stat }}</span>
              </div>
            </div>
          {%- endfor -%}
        </div>
      </div>
    </div>
  </section>
</main>



