@tailwind base;

@tailwind components;

@tailwind utilities;

.text-shadow {
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}

.text-stroke {
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.25), 1px -1px 0 rgba(0, 0, 0, 0.25),
    -1px 1px 0 rgba(0, 0, 0, 0.25), 1px 1px 0 rgba(0, 0, 0, 0.25);
}
